
/* esse warap vai deixa o cpnteudo do perfil menor ao lado do conteudo do post */
.wrapper{
    /* width: 100%; */
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}


