html {
    background-color: #87ceeb;
}

.barraMenu {
    display: flex;
    align-items: center;
    background-color: chartreuse;
    justify-content: space-between;
    font-size: 40px;
    color: deeppink;
}

.logo {
    width: 150px;
}

.menu {
    display: flex;
}

.menu li {
    padding: 10px;
    border-left: 30px;
}

.menu li a {
    padding: 10px;
    border: 2px solid deepskyblue;
    background-color: blueviolet;
    display: block;
}

.divs {
    display: flex;
    margin: 10px;
    gap: 10px;
    text-align: justify;
}

.div1,
.div2,
.div3 {
    display: flex;
    /* width: 300px;
    height: 360px; essas 2 linha de codigo é para excluir*/
    border: 2px solid black;
}

/*Aula do dia 21/02/2024*/
/*foi agrupado as 3 divs em um único lugar já que elas tinha os mesmos valores de especificação 
e também acresentado um .menu li{ com paddim e border left}*/

divisao {
    width: 10px;
    height: 0px;
    border: 2px solid black;
}

a {
    color: currentColor;
    text-decoration: none;
    /* o current color ele procura a ultima cor que foi usada anteriormente no pai nesse caso vai mudar a cor de acordo com a color do .barraMenu e o text decoration tira o sublinhado*/
}

.imagem {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #115b8f;
}

.imgdestaque {
    border: 1px solid #fff;
    padding: 10px;
    box-shadow: purple 3px 3px 3px;
    flex-direction: row-reverse;
}

.destaque {
    display: flex;
    width: 250px;
}

.destaque2 {
    display: flex;
    width: 400px;
    height: 380px;
}

.secoes {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    justify-content: center;
    margin-bottom: 30px;
}

.rodape {
    display: flex;
    background-color: #87ceeb;
    justify-content: center;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.news { /* Tentar colocar essa news emcima do h2 de redes */
    display: flex;
    height: 15px;
    justify-content: center;
}

::placeholder {
    font-size: 10px;
}

.rodape h2 {
    display: flex;
    text-align:center;
    justify-content: center;
    margin-bottom: 15px;
}

.rodape img {
    width: 40px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.endereço {
    display: flex;
    text-align: center;
    justify-content: center;
}