.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    background-color:deepskyblue;
    text-align: center;
    padding: 80px;
    grid-column: span 3;
    height: 50px;
    font-size: 2em;
}

nav{
    background-color:orange;
    display: block;    
}

nav a{
    color: white;
    font-size: 20px;
}

main{
    background-color:whitesmoke;
    height: 100vh;
    text-justify: distribute;
}

main p{
    text-align: center;
}

.img{
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
    border-radius: 10%;
}

aside{
   
    background-color:darkorchid;
    font-size: 20px;
}

aside a{
    color: white;
    font-size: 20px;
}

a{
    display: block;
    text-decoration: none;
    color: white;
}

footer{
    background-color:greenyellow;
    display: flex;
    text-align: center;
    padding: 20px;
    grid-column: span 3;
    height: 50px;
}


@media(min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }     
}

@media(min-width: 768px){
    .img{
       width: 30%;
    }  
}

@media(min-width: 768px){
    nav a:hover{
        color:greenyellow;
    } 

    aside a:hover{
        color:dodgerblue;
    }  
}

@media(min-width: 767px){
    nav a{
        display: inline-block;
        margin-right: 40px;
    }    
    
    nav a:hover{
        color:greenyellow;
    }  
}

@media(min-width: 767px){
    aside a{
        display: inline-block;
        margin-right: 10px;
        font-size: 15px;
    }    
    
    aside a:hover{
        color:dodgerblue;
    }  
}